
.header-dd {
  background-color: #363d47;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  transition: top 0.4s;
  padding: 5px 0 5px 0;
  height: 200px;
  min-height: 72px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: -190px;
  background: #2B2A29;
  width: 100%;
  z-index: 8; }
.header-dd .container {
  position: relative;
  z-index: 1; }
.header-dd_dropped {
  top: 0 !important; }
.header-dd__globe {
  position: absolute;
  bottom: -53px;
  right: 0px;
  color: #fff;
  background: #2B2A29;
  padding: 0 8px 8px 8px;
  border-bottom-left-radius: 12px; }
.header-dd__globe-inner {
  opacity: 0.5;
  border-radius: 13px;
  border: 2px solid #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
.header-dd__globe-inner:hover {
  opacity: 1; }
.header-dd__i-globe {
  color: #fff; }
.header-dd__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-dd__item-inner {
  border-radius: 20px;
  border: 6px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 110px;
  width: 110px;
  font-size: 73px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
.header-dd__item-inner_small-fz-item {
  font-size: 65px; }
@media (max-width: 460px) {
  .header-dd__item-inner {
    height: 60px;
    width: 60px;
    font-size: 40px;
    border-radius: 13px;
    border-width: 4px; }
  @supports (width: 1vw) {
    .header-dd__item-inner {
      height: 19vw;
      width: 19vw;
      font-size: 14vw; } } }
.header-dd__item-label {
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-left: 15px; }
@media (max-width: 695px) {
  .header-dd__item-label {
    display: none; } }
.header-dd__item {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer; }

.header-dd__item:hover {
  opacity: 1; }
.header-dd__i {
  display: inline-block;
  color: #fff; }
@media (min-width: 960px) {
  .header-dd {
    height: 220px;
    top: -210px; } }
@media (max-width: 1100px) {
  .header-dd__globe {
    padding: 0 8px 8px 8px;
    bottom: -45px; }
  .header-dd__globe-inner {
    width: 37px;
    height: 37px;
    font-size: 20px; } }

@media (max-width: 460px) {
  .affix + .header-dd .header-dd__globe-inner {
    width: 28px;
    height: 28px;
    font-size: 18px;
    border-radius: 7px; }
  .affix + .header-dd .header-dd__globe {
    bottom: -36px; } }


.city {
  width: 100%;
  max-width: 706px;
  cursor: pointer
}

.city__city-text {
  font-size: 26px;
  height: 32px;
  line-height: 32px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  color: #fff;
}

.city__city-ico {
  float: right;
  background-position: -109px -22px;
  width: 32px;
  height: 42px;
  position: absolute;
  right: 9px;
  top: 10px
}

.city__drop-down,.city__drop-down-ul {
  max-width: 706px;
  width: 100%;
  opacity: .5;
  background-color: #363d47
}

.city__drop-down {
  height: 66px;
  border: 3px solid #fff;
  border-radius: 9px;
  padding: 14px 36px 14px 22px;
  text-align: left;
  position: relative
}

.city__drop-down-ul {
  margin-top: 10px;
  max-height: 645px;
  border: 3px solid #fff;
  border-radius: 9px;
  overflow-y: auto;
  overflow-x: hidden
}

.city__li {
  padding-left: 22px;
  text-align: left;
  font-size: 30px
}

.controls__city .controls__i{
  width:20px;
}
.city__city-text, .city__li {
  color: #fff;
  font-weight: 400;
}

.controls__control:hover {
  opacity: 1;
}