//-сайдбар выезжающий
-var cities = [{id: null, lbl : '&nbsp'}, {id : "spb" , lbl : 'Спб'}, {id : "msk" , lbl :'Мск'}, {id : "spb" , lbl : 'Спб'}, {id : "msk" , lbl :'Мск'}, {id : "spb" , lbl : 'Спб'}, {id : "msk" , lbl :'Мск'}, {id : "spb" , lbl : 'Спб'}, {id : "msk" , lbl :'Мск'}]
mixin city() 
    +b.city
        
        +e.drop-down#city-dd
            +e.city-text Выберете ваш город
            +e.city-ico

        +e.drop-down-ul#city-dd-ul(style="display: none")
            for city in cities
                +e.LI.li(rel="#{city.id}") !{city.lbl}