.header{
    width: 100%;
    min-height: 29px;
    background-color: #000;
    padding: 5px 18px 5px 18px;

    &:after{
        content: '';
        display: table;
        clear: both;
    }

    &__logo{
        @include sprite($publica);
        float: left;
    }

    &__controls{
        float:  right;
        width:  100%;
        max-width:  200px;
        text-align: justify; 
        height: 18px; 
        overflow: hidden;

        &:after{
            content: "";
            width: 100%;
            display: inline-block;
        }

        @media #{$xsm}{
            width: auto !important;
            text-align: center;
        }
    }

    &__control{
        display: inline-block;  
        height: 20px;
        opacity: 0.33;

        white-space: nowrap;
        cursor: pointer;

        

        &--active, &:hover{
            opacity: 1;
        }

        &:not(:last-of-type){
            margin-right: 5px;
        }
    }

    &__ico{
        float: left;    
        &--city-ico{
            @include sprite($city);

        }
        &--lang-ico{
            @include sprite($flagrus);
            width: 20px;

        }
        &--exit-ico{
            @include sprite($exit);

        }
    }

    &__exit-text{
        float: left;
        margin-right: 9px;

        color: #fffefe;
        font-size: 14px;
        font-weight: 400;
    }
}