include ../includes/bemto
include ../includes/mixins
- var links = [{alias: "m", url: "index.html", "label" : "Главная"}, {alias: "w", url: "work.html", "label" : "Работа", sublines : [{url: "izber.html", "label" : "Работа с избирателями"}, {url: "zaks.html", "label" : "Работа в Законодательном Собрании Санкт-Петербурга"}] } ];
mixin document-header-tosee()
  head
      meta(charset='utf-8')
      meta(name='description', content='')
      meta(name='keywords', content='')
      meta(content='IE=edge')&attributes({'http-equiv': "X-UA-Compatible"})
      meta(name='viewport', content='width=device-width, initial-scale=1')

      title Landing Page

      link(rel='icon', href='/favicon.png', type='image/x-icon')

      // build:css /css/vendor.css    
      link(href='/libs/bootstrap.css', rel='stylesheet')
      link(href='/libs/fancybox/jquery.fancybox.css', rel='stylesheet')
      // endbuild
      // build:css /css/main.css
      link(href='/css/main.css', rel='stylesheet')
      link(href='/css/logos.css', rel='stylesheet')
      link(href='/css/sprite.css', rel='stylesheet')
      link(href='/css/tosee.css', rel='stylesheet')
      // endbuild 
      //[if lte IE 9]>
            <script src="/libs/ie/html5shiv.js"></script>
            <script src="/libs/ie/respond.src.js"></script>
            <script src="/libs/ie/respond.matchmedia.addListener.src.js"></script>
            <script src="/libs/polyfills/background_size_emu.js"></script>
            <![endif]
