include ../blocks/**/*
include template/header
include template/footer
- var alias = "red" //-алиас юзерпанели (для выделения пунктов меню)
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +header
        +body
                    +content-message
                        +e.col
                            +e.alert.--red
                            +e.text На модерации
                        +e.col
                            +e.alert.--green
                            +e.text Модерация пройдена

                    +content-page
                        +h1 Редактор

                        +e.inner
                            p(style="font-size: 24px").
                                В процессе разработки. Тут должен быть какой-то 
                                текстовый редактор
                            p
                            p(style="") Люблю есть, пить, дышать и ходить в туалет. Любимые напитки - вискарь, пивас, водяра, вода, молоко. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 

                            p
                            +button.--green Сохранить изменения