mixin footer()
    +b.footer
        .container-fluid
            .row
                .col-xs-24
                    +e.footer-inner
                        +e.logo._tosee
                                +sprite-img('sprite', 'tosee-grey')
                        +e.logo._probank
                                +sprite-img('sprite', 'probank-grey')
                        +e.logo._shotme
                                +sprite-img('sprite', 'shotme-grey')