include ../blocks/**/*
include template/header
include template/footer
- var alias = "dir" //-алиас юзерпанели (для выделения пунктов меню)
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +header
        +body
                    +content-page
                        +h1 Директор

                        +e.inner
                            p