.content-message{
    padding-top: 37px;
    text-align: left;


    &__col{
        display: inline-block;
        margin-left: 36px;
    }

    &__col:hover{
        &__text{
            color: rgba(0, 0, 0, 1);

        }

    }

    &__text{
        color: rgba(0, 0, 0, .5);
        font-size: 14px;
        font-weight: 400;
        float: left;

        line-height: 19px;
        vertical-align: middle;
    }

    &__alert{
        float: left;
        margin-right: 15px;

        &--red{
            width: 19px;
            height: 19px;
            background-color: #f00;
        }
        &--green{
            width: 19px;
            height: 19px;
            background-color: #4eb976;
        }
    }

    @media #{$lg},#{$md},#{$sm}{
        text-align: right;

    }
}