mixin controls()
    +b.controls
            +e.control
                +e.lang
                    +sprite-img('sprite', 'flagrus') 
            +e.control
                +e.city
                    +sprite-img('sprite', 'city')
            +e.control
                +e.A(href="/admin/enter.html").enter
                    +sprite-img('sprite', 'enter')