mixin events()
    +b.events
        .row
            +e.events-list
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/dep.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/baba.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/keri.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/dep.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/baba.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
                //- .col-md-8.col-sm-12.col-xs-24
                +e.event
                    +event('/images/people/keri.jpg', '25.12.17', 'H1 Поста. Джонни Депп.', 'Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.')
            block                    