.sp-tosee {
  background-image: url(../images/tosee.png);
}


.sp-tosee__calendar {
  background-position: 0px -181px;
  width: 23px;
  height: 25px;
}
.sp-tosee__future {
  background-position: 0px -131px;
  width: 26px;
  height: 24px;
}
.sp-tosee__ico-round {
  background-position: 0px -156px;
  width: 25px;
  height: 24px;
}
.sp-tosee__logo {
  background-position: 0px 0px;
  width: 370px;
  height: 130px;
}
.sp-tosee__past {
  background-position: -27px -131px;
  width: 27px;
  height: 23px;
}
