include ../../widgets/**/*
include ../../blocks/publica/**/*
include ../../blocks/common/**/*
include ../template/header_publica
include ../template/footer

- var alias = "m"
doctype
html(lang='ru')
    +document-header-tosee
    body.pageload.no-js
        //- +header
        +content-home
            +e.mainlogo
                +e.IMG(src="/images/logos/publica.png").i._mainlogo
            +e.projects-row
                //-.col-sm-8.col-xs-24
                +b.A(href="http://tosee.shablonkin.shn-host.ru/").project._bordered._tosee
                    +e.logo
                        +e.IMG(src="/images/logos/tosee.png").i
                    +e.content
                        +e.IMG(src="/images/dep.png").img
                        +e.text Светская жизнь в моем городе, стране, мире
                //-.col-sm-8.col-xs-24
                +b.A(href="http://probank.shablonkin.shn-host.ru/").project._bordered._probank
                    +e.logo
                        +e.IMG(src="/images/logos/probank.png").i
                    +e.content
                        +e.IMG(src="/images/model.png").img
                        +e.text Модели Фотографы Актеры
                //- .col-sm-8.col-xs-24
                +b.project._bordered._shotme
                    +e.logo
                        +e.IMG(src="/images/logos/shotme.png").i
                    +e.content
                        +e.IMG(src="/images/fotografer.png").img
                        +e.text Закажи  фотографа прямо сейчас!
        //+footer1
        +footer-scripts