include ../../widgets/**/*
include ../../blocks/tosee_probank/**/*
include ../../blocks/common/**/*
include ../template/header_tosee_probank
include ../template/footer
include past/_header-loc
include past/_footer-loc
+header-loc
            +pagination(colp, page, 1)
        +footer-loc