@import "includes/normalize";
@import "includes/_compass";
@import "includes/compass/_reset";
@import "includes/fonts";
@import "includes/mixins";
@import "sprite.scss";
@import "logos.scss";
@import "varibles";





// @include font-face("Karton", "../fonts/karton-regular-webfont", null, null, ttf woff woff2 );

//html
html, body, section {
  box-sizing: border-box;
}
html{
  //overflow: hidden;
  min-width: 270px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
//-html

//.no-y-scroll body{
//  overflow: hidden;
//  padding-right:16px;
//}

//body
body{
  height: 100%;
  margin: 0;
  //overflow-y: scroll;
  min-width: 270px;
  font-family: Tahoma, sans-serif;
  font-size: $base-font-size;
  width: 100%;
  background-color: #000;
  

  @media #{$md}{
    font-size: $base-font-size - 2px;
  }
  @media #{$sm}{
    font-size: $base-font-size - 3px;
  }

  @media #{$xsm}{
    font-size: $base-font-size - 2px;
    text-align: center;
    img{
      text-align: center;
      display: inline-block;
    }
    .img-responsive{
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}

.static-content{
  padding-right:16px;
}
//-body

//.pageload
body.pageload * {
  @include transition( none !important);
}
//-.pageload

// body, li, span, p, div, h1, h2, h3, h4, td{
//     line-height: 1.2em;
// }

*:focus, a:focus {
  outline: none;
}

//box-sizing all 
body *{
  box-sizing: border-box;
}
/* -- */

//placeholder
input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include placeholder {
    color: #bcbcbc;
   // font-style: italic;
 }
}
//-placeholder


//section


/* навбар превращаеться в крестик */
.navbar-toggle{
  .icon-bar{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .icon-bar:nth-of-type(4){
    transform-origin: 0 0;
    @include transform(rotate(-33deg));

  }
  .icon-bar:nth-of-type(3){
    opacity: 0;
  }
  .icon-bar:nth-of-type(2){
    transform-origin: 0 0;
    @include transform(rotate(33deg));
  }
}

.collapsed{
  .icon-bar{
    @include transform(rotate(0deg)  !important);
    opacity: 1 !important; 
  }

}
/* -- */

//row equal height on diffrent medias
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-eq-height-lg {
  @media #{$lg}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.row-eq-height-md {
  @media #{$lg}, #{$md}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.row-eq-height-sm {
  @media #{$lg}, #{$md}, #{$sm}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
//-row equal height on diffrent medias

//no
.no-margin{
  margin: 0px;
}

.no-padding{
  padding: 0px;
}

.no-y-scroll body{
  //overflow-y: hidden;
}
//-no

a, a:hover{
  text-decoration: none;
}

.fancybox-close-small:after{
  outline: none !important;
}

.img-well{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fancybox-close-small:after{
  background: none;
}


 
// @import "../blocks/**/*";
// @import "../../../../bemBlocks/**/*";

h1{
  text-align: center;
  color: rgba(37,37,37,.5);
  font-size: 40px;
}

.container-header{
  width: 100%;
}

.container-header, .container-body{
  max-width: 975px;
}

.container-body{
  padding: 0 4px 0 4px;
}
