@import "../../scss/varibles.scss";
$wpwh-ico: 110px;

$trans-time: 0.4s;

$header-h-small: 68px;
$base-punkt: 10px;

$temp: $header-h-small - $base-punkt;

$globe-oter-size: 58px;
$globe-oter-padding: 8px;

$globe-oter-size-min: 45px;
$globe-oter-padding-min: 8px;

.header-dd-outer{
  margin-right: calc( 100% - 100vw);

  position: fixed;
  width:100%;
  z-index: 8;

  top: -190px;
  transition: top $trans-time;


  &_dropped {
    top: 0 !important;
  }

  @media (min-width: 960px) {
    height: 220px;
    top: -210px;
  }

}

.header-dd {

  background-color: $col-bg2;
  // overflow: hidden;
  padding: 5px 0 5px 0;
  height: 200px;
  min-height: 72px;

  position: relative;

  display: flex;
  align-content: center;
  align-items: center;


  background: #2B2A29;
  width: 100%;


  .container {
    position: relative;
    z-index: 1;
  }



  &__globe {
    position: absolute;
    bottom: -53px;
    right: 0px;
    color: #fff;
    background: #2B2A29;
    padding: 0 $globe-oter-padding $globe-oter-padding $globe-oter-padding;

    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-left-radius: 12px;

  }

  &__globe-inner {
    opacity: 0.5;
    border-radius: 13px;
    border: 2px solid #fff;
    font-size: 30px;

    width: $globe-oter-size - $globe-oter-padding;
    height: $globe-oter-size - $globe-oter-padding;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

  }

  &__i-globe {
    color: #fff;

  }

  &__inner {
    background: none;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

  }

  &__item-inner {
    border-radius: 20px;

    border: 6px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    //height: $wpwh-ico;
    //width: $wpwh-ico;
    //font-size: 92px;
    height: 110px;
    width: 110px;
    font-size: 73px;

    transition: all $trans-time;


    &_small-fz-item {
      font-size: 65px;
    }

    @media (max-width: 460px) {
      height: 60px;
      width: 60px;
      font-size: 40px;

      @supports (width: 1vw) {
        height: 19vw;
        width: 19vw;
        font-size: 14vw;
      }

      border-radius: 13px;
      border-width: 4px;
    }


  }

  &__item-label {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin-left: 15px;


    @media (max-width: 695px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    opacity: 0.5;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }



  }

  &__i {
    display: inline-block;
    color: #fff;

  }



  @media (max-width: 1100px) {
    &__globe {
      padding: 0 $globe-oter-padding-min $globe-oter-padding-min $globe-oter-padding-min;
      bottom: -1 * $globe-oter-size-min;
    }

    &__globe-inner {
      width: $globe-oter-size-min - $globe-oter-padding-min;
      height: $globe-oter-size-min - $globe-oter-padding-min;
      font-size: 20px;
    }

  }

  @media (min-width: 960px) {
    height: 220px;
  }

}

@media (max-width: 460px) {
  .affix + .header-dd .header-dd__globe-inner {
    width: 28px;
    height: 28px;
    font-size: 18px;
    border-radius: 7px;
  }

  .affix + .header-dd .header-dd__globe {
    bottom: -36px;
  }
}



.city {
  width: 100%;
  max-width: 706px;
  cursor: pointer
}

.city__city-text {
  font-size: 26px;
  height: 32px;
  line-height: 32px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  color: #fff;
}

.city__city-ico {
  float: right;
  background-position: -109px -22px;
  width: 32px;
  height: 42px;
  position: absolute;
  right: 9px;
  top: 10px
}

.city__drop-down,.city__drop-down-ul {
  max-width: 706px;
  width: 100%;
  opacity: .5;
  background-color: #363d47
}

.city__drop-down {
  height: 66px;
  border: 3px solid #fff;
  border-radius: 9px;
  padding: 14px 36px 14px 22px;
  text-align: left;
  position: relative
}

.city__drop-down-ul {
  margin-top: 10px;
  max-height: 645px;
  border: 3px solid #fff;
  border-radius: 9px;
  overflow-y: auto;
  overflow-x: hidden
}

.city__li {
  padding-left: 22px;
  text-align: left;
  font-size: 30px
}

.controls__city .controls__i{
  width:20px;
}
.city__city-text, .city__li {
  color: #fff;
  font-weight: 400;
}

.controls__control:hover {
  opacity: 1;
}