mixin header_dd()
  .header-dd-outer
      +b.header-dd
        .container.container-header
          .row
            +e.inner.col-xs-24
              +e.item
                +e.item-inner._small-fz-item
                  +e.I.i.fa.fa-language
                +e.item-label Язык
              +e.item
                +e.item-inner
                  +e.I.i.fa.fa-map-marker
                +e.item-label Город
              +e.item(rel="city").sidebar-rel
                +e.item-inner
                  +e.I.i.fa.fa-sign-in
                +e.item-label Вход
        +e.globe
          +e.globe-inner
            +e.I.i-globe.fa.fa-globe
            //- +e.controls1
            //-   +controls1