mixin controls1()
    +b.controls1
        +e(rel="menu").conrol1
            //- +sprite-img('sprite', 'hamburger')
            +e.img-wrapper
                +e.IMG.img(src="/images/svg/hamburger1.svg")
        +e(rel="search").conrol1
            +e.img-wrapper
                +e.IMG.img(src="/images/svg/zoom1.svg")._zoom
            //- +sprite-img('sprite', 'search')