include ../../blocks/**/*
//- include ../../../../bemBlocks/**/*
include ../template/header
include ../template/footer
include header-loc
include footer-loc
+header-loc
            +pagination(colp, page, 8)
        +footer-loc