header {
  padding-top: 10px;
  height: 32px;
  width: 100%;
  margin: auto;
  position: fixed;
  background: #0D0C11;
  z-index: 99996;
  top: 0;
  border-bottom: 1px solid #000; }
  header:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0D0C11;
    z-index: 0;
    top: 0;
    left: 0; }
  header #header-inner {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

header .controls .control {
  height: 22px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  color: #ffffff; }
  header .controls .control i {
    font-size: 25px; }
  header .controls .control:not(:last-of-type) {
    margin-right: 7px; }

.button-only-icon {
  background: none;
  border: none;
  display: inline;
  padding: 0;
  outline: none; }

header .action-panel {
  overflow: hidden;
  height: auto;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  transition: top 0.5s ease;
  width: 100%;
  background-color: #1a1a1a;
  z-index: -1; }
  header .action-panel .action-panel-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    line-height: 42px;
    margin: auto;
    color: #fff;
    font-size: 21px;
    position: relative; }
    header .action-panel .action-panel-control input {
      background: rgba(255, 255, 255, 0);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 0;
      outline: none;
      text-align: center; }
  header .action-panel#drop-down-search .action-panel-control i {
    font-size: 20px;
    padding-right: 12px; }
  header .action-panel#drop-down-geo .action-panel-control i {
    font-size: 20px;
    padding-right: 15px; }

header #header-inner #drop-down-services.action-panel.is-open,
header #header-inner #drop-down-search.action-panel.is-open,
header #header-inner #drop-down-geo.action-panel.is-open {
  top: -webkit-calc(100% + 1px);
  top: -moz-calc(100% + 1px);
  top: calc(100% + 1px);
  border-bottom: 1px solid #000; }

header #header-inner #drop-down-services {
  top: -183px; }

header #header-inner #drop-down-search, header #header-inner #drop-down-geo {
  top: -60px; }

/**
drop down services
 */
header #header-inner .drop-down-service {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  padding: 18px 30px; }
  header #header-inner .drop-down-service:not(:last-of-type) {
    border-bottom: 1px solid #353535; }
  header #header-inner .drop-down-service:last-of-type {
    border-bottom: 1px solid #000; }
  header #header-inner .drop-down-service > div {
    display: inline-block;
    line-height: 25px;
    width: 125px;
    vertical-align: middle; }
    header #header-inner .drop-down-service > div img {
      max-height: 100%;
      max-width: 100%; }
    header #header-inner .drop-down-service > div * {
      display: inline-block; }
  header #header-inner .drop-down-service .drop-down-service-image {
    margin-right: 15px; }
  header #header-inner .drop-down-service .drop-down-service-description {
    color: #ffffff;
    opacity: 0.7;
    font-size: 17px; }

header .menu {
  -webkit-box-pack: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: auto; }
  header .menu .hamburger {
    margin-right: 10px;
    height: 13px;
    line-height: 15px;
    font-size: 14px;
    cursor: pointer;
    color: #fff; }
  header .menu .base-logo {
    height: 25px;
    cursor: pointer; }
  header .menu .hamburger img, header .menu .base-logo img {
    max-height: 100%; }

header .navigation-panel {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .navigation-panel .navigation-part {
    display: inline-block; }

body.is-open-overlay {
  overflow: hidden;
  height: 100vh; }

.overlay {
  display: none;
  position: fixed;
  height: -webkit-calc(100vh - 86px);
  height: -moz-calc(100vh - 86px);
  height: calc(100vh - 86px);
  top: 86px;
  left: 0;
  background: #0D0C11;
  z-index: 99995;
  width: 100%;
  overflow: auto;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .overlay.is-open {
    display: block; }

.overlay ul.overlay-list {
  height: 100%;
  width: 100%; }
  .overlay ul.overlay-list li {
    display: block;
    padding: 7px 20px;
    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

#service-menu-overlay.is-open {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -43px;
  height: -webkit-calc(100vh + -42px);
  height: -moz-calc(100vh + -42px);
  height: calc(100vh + -42px); }

#service-menu-overlay .service-overlay-wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

#search-overlay.overlay ul.overlay-list li {
  padding: 15px 20px; }
  #search-overlay.overlay ul.overlay-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

#service-overlay ul {
  display: block;
  width: 70%; }

/*# sourceMappingURL=index.css.map */
