include ../blocks/**/*
include template/header
include template/footer
- var alias = "up" //-алиас юзерпанели (для выделения пунктов меню)
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +header
        +body
            +content-page
                        +h1 Профиль

                        +e.inner
                            +form
                                +e.form-block
                                    +form-line("Имя") Темка
                                    +form-line("Отчество") Петрович
                                    +form-line("Фамилия") Васильков
                                    +form-line("Псевдоним") temius
                                    +form-line("e-mail") tema@tema.ru
                                    +form-line("Телефон") +7 911 115 56 87
                                    +form-line("О себе")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fugit vero earum asperiores incidunt, aliquam cumque dolorum quia quam ab enim ea temporibus quo perferendis. Consequuntur quisquam, provident ab ipsam.
                                    +form-line("Фото")
                                        +e.inline
                                            +img("tema.png")
                                            +button.--grey Поменять фото

                                +e.form-block
                                    +form-line("Получить рассылку")
                                    +form-line("по sms")
                                        +chbox
                                    +form-line("по e-mail")
                                        +chbox


                                +e.form-block
                                    +form-line("Изменить пароль")
                                        +input
                                    +form-line("Еще раз новый пароль")
                                        +input

                                +e.form-block
                                    +form-line
                                        +button.--green Сохранить изменения 