.sidebar{
    min-height: 950px;
    // display: inline-block;
    width: 100%;

    background: #b6b6b6;

    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    &:after{
        content: '';
        display: table;
        clear: both;
    }

    &__close{
        display: none;
        position: absolute;
        right: 15px;
        top: 15px;
        font-family: Arial;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    @media #{$xsm}{
        position: fixed;
        left: -110%;
        width: 100%;
        z-index: 11;
        height: 100%;
        overflow-y: scroll;
        min-height: 100% !important;
        top: 0;

        &__close{
            display: block;
        }

        &--active{
            left: 0;
        }
    }
}

.hamburger{
    display: none;
    height: 35px;
    width: 20px;
    position: relative;
    padding: 5px 0 5px 0;
    position: fixed;
    left: 30px;
    top: 50px;
    z-index: 5;
    cursor: pointer;


    .ico-bar{
        height: 2px;
        width: 100%;
        background: #000;
        display: block;
    }
    .ico-bar:not(:last-of-type){
        margin-bottom: 4px;
    }

    @media #{$xsm}{
        display: block;
    }
}