mixin header1()
    +b.header1
        .container-fluid
            .row
                .col-xs-24
                    +e.IMG(src="/images/logo.png").logo
                    +e.controls1
                        +controls1