mixin header1()
  +b.header1._affix
    .container.container-header
      .row
        +e.inner.col-xs-24
          +e.item._control
            +e.I.i.fa.fa-bars
          +e.item._logo
            +e.IMG(src="/images/logos/tosee.png").logo
          +e.item._control
            +e.I.i.fa.fa-search
   
        //- +e.controls1
        //-   +controls1