include ../../../widgets/**/*
include ../../../blocks/**/*
include ../../template/header_tosee_probank
include ../../template/footer
include _header-loc
include _footer-loc
+header-loc
            +pagination(colp, page, 1)
        +footer-loc