#profile-form .image-ajax-upload img, .image-ajax-upload.MS250x250 img{
    max-width: 250px;
    max-height: 250px;
}

.image-ajax-upload.MS100x100 img{
    max-width: 100px;
    max-height: 100px;
}
.image-ajax-upload.MS100 img{
    max-width: 500px;
    max-height: 100px;
}
html{
    background: #000;
}
body{
    background: #fff;
}

.user-avatar img{
    max-width: 100%;
}

table th {
    text-align: center;
}

a[data-sort]{
    text-decoration: underline;
}

a[data-sort]:after{
    font-weight: 900;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f07d";
    display: inline;
}

a.desc[data-sort]:after {
    content: "\f176";
}
a.asc[data-sort]:after{
    content: "\f175";
}

body{
    padding-top: 43px;
}

.login .form-row input[type='text'],
.login .form-row input[type='email'],
.login .form-row input[type='password']{
    height: 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}

.login .form-row .submit{
    height:42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login .form-row{
    height: auto;
}


.login .form .form-row label, .login .help-block{
    color: #fff;
}

.form .intl-tel-input{
    width: 100%;
}

img.no-image{
    border-radius: 0 !important;
}