@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/**
 * Remove default margin.
 */
body {
    margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    line-height: 1; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
    border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block; }

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?fg9amd");
    src: url("../fonts/icomoon.eot?fg9amd#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fg9amd") format("truetype"), url("../fonts/icomoon.woff?fg9amd") format("woff"), url("../fonts/icomoon.svg?fg9amd#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon-burger:before {
    content: "\e900";
    color: inherit; }

.icon-buy:before {
    content: "\e901";
    color: inherit; }

.icon-crown:before {
    content: "\e902";
    color: #666; }

.icon-enter:before {
    content: "\e903";
    color: inherit; }

.icon-exit:before {
    content: "\e904";
    color: inherit; }

.icon-geo:before {
    content: "\e905";
    color: inherit; }

.icon-info:before {
    content: "\e906";
    color: inherit; }

.icon-comments:before {
    content: "\e907";
    color: inherit; }

.icon-left_chevron:before {
    content: "\e908"; }

.icon-like:before {
    content: "\e909";
    color: inherit; }

.icon-right_chevron:before {
    content: "\e90a";
    color: inherit; }

.icon-search:before {
    content: "\e90b";
    color: inherit; }

.icon-share:before {
    content: "\e90c";
    color: inherit; }

.icon-temp:before {
    content: "\e90d";
    color: inherit; }

body {
    background: #0D0C11;
    font-family: Tahoma;
    padding-top: 44px;
    height: auto !important;
    overflow-x: hidden;
    line-height: 1.3em; }

body * {
    line-height: 1.3em; }

body.is-open-overlay, body.fancybox-active {
    overflow: hidden;
    height: 100vh; }

a {
    cursor: pointer; }

.chevron-right:after, .chevron-left:after {
    font-family: Menlo, "Courier New", Courier, monospace;
    display: inline-block;
    font-size: 60px;
    -webkit-transform: scaleX(0.6);
    -moz-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    transform: scaleX(0.6); }

.chevron-right:after {
    /** › */
    content: '\203A'; }

.chevron-left:after {
    content: '\2039'; }

a {
    text-decoration: none;
    color: inherit;
    outline: none; }

.content {
    display: table;
    margin: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.content #waiting {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.fancybox-navigation .fancybox-button {
    top: 160px; }

.fancybox-slide--html {
    padding: 0; }
.fancybox-slide--html .modal-window {
    padding: 0;
    margin: 0;
    height: -webkit-calc(100% - 43px);
    height: -moz-calc(100% - 43px);
    height: calc(100% - 43px);
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0; }

.fancybox-is-open .fancybox-bg, .fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar {
    display: none; }

.fancybox-close-small svg {
    -webkit-filter: drop-shadow(1px 0px 0px #fff);
    filter: drop-shadow(1px 0px 0px #fff); }

.datepicker-inline, .datepicker table {
    width: 100%;
    table-layout: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.datepicker {
    padding: 0; }

.modal-window .modal-header:after {
    content: '';
    display: table;
    clear: both; }

.modal-window .modal-image {
    height: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.modal-window .modal-image img {
    display: inline-block; }
.modal-window .modal-image img {
    height: 100%; }

.modal-window .modal-controls {
    display: block;
    background: #000;
    width: 100%;
    color: #ffffff;
    padding: 0 20px; }
.modal-window .modal-controls:after {
    content: '';
    display: table;
    clear: both; }
.modal-window .modal-controls i {
    display: inline-block;
    height: 100%;
    width: 40px;
    text-align: center; }
.modal-window .modal-controls i.is-active {
    background: #ff00bb; }
.modal-window .modal-controls i:not(:last-of-type) {
    margin-right: 5px; }

.modal-window .left-controls, .modal-window .right-controls {
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block; }

.modal-window .left-controls {
    float: left; }

.modal-window .right-controls {
    float: right; }

.modal-window .modal-tab {
    height: 450px;
    overflow: auto; }

.modal-window .modal-tab-control {
    cursor: pointer; }

.modal-body {
    position: relative; }
.modal-body .modal-tab {
    width: 100%; }
.modal-body strong {
    font-weight: 600;
    padding-right: 7px; }
.modal-body span {
    width: 100%; }
.modal-body .modal-inner-body {
    padding: 25px 10% 0 10%;
    width: 100%; }
.modal-body .modal-comments .modal-inner-body {
    display: table;
    table-layout: fixed; }
.modal-body .modal-info {
    background: #f0f0f0;
    line-height: 1.3em; }
.modal-body .modal-likes {
    margin: 15px 20px;
    float: right;
    color: red;
    position: absolute;
    top: 0;
    right: 0; }
.modal-body .modal-likes > * {
    display: inline-block; }

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px; }

.alert h4 {
    margin-top: 0;
    color: inherit; }

.alert .alert-link {
    font-weight: bold; }

.alert > p,
.alert > ul {
    margin-bottom: 0; }

.alert > p + p {
    margin-top: 5px; }

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px; }

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d; }

.alert-success hr {
    border-top-color: #c9e2b3; }

.alert-success .alert-link {
    color: #2b542c; }

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f; }

.alert-info hr {
    border-top-color: #a6e1ec; }

.alert-info .alert-link {
    color: #245269; }

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b; }

.alert-warning hr {
    border-top-color: #f7e1b5; }

.alert-warning .alert-link {
    color: #66512c; }

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442; }

.alert-danger hr {
    border-top-color: #e4b9c0; }

.alert-danger .alert-link {
    color: #843534; }

.alert-dismissible {
    padding-right: 21px; }
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2; }

.avatar {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.avatar img {
    width: inherit;
    height: inherit;
    position: absolute;
    display: block;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover; }

.content {
    width: 100%;
    min-height: 100%;
    display: block;
    background: #ffffff; }

ul.user-panel-menu {
    width: 100%;
    text-align: center;
    margin: 0 auto auto auto;
    background: #999999;
    padding: 40px 10% 40px 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
ul.user-panel-menu li {
    text-align: left;
    color: #000;
    font-size: 20px; }
ul.user-panel-menu li:not(:last-of-type) {
    margin-bottom: 17px; }

.feedback {
    padding: 30px 25px;
    text-align: left;
    color: #ffffff;
    background: #808080;
    display: block; }
.feedback span {
    display: block;
    font-size: 20px; }
.feedback span.small {
    font-size: 14px; }

#service-menu-overlay.overlay--user-panel {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #CCCCCC;
    padding: 0; }
#service-menu-overlay.overlay--user-panel .service-overlay-wrapper {
    margin: 0; }

.role .role-actions {
    text-align: center;
    padding: 30px 0; }
.role .role-actions a {
    display: block;
    color: #636363;
    text-decoration: underline;
    text-decoration-skip-ink: none; }
.role .role-actions a:not(:last-of-type) {
    margin-bottom: 15px; }

.login {
    background: #346667;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.login .login-form {
    width: 350px;
    max-width: 70%; }

.login .form-row {
    width: 100%;
    height: 45px; }
.login .form-row:not(:last-of-type) {
    margin-bottom: 25px; }
.login .form-row input[type='text'], .login .form-row input[type='password'] {
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid #265657; }
.login .form-row input[type='text']::-webkit-input-placeholder, .login .form-row input[type='password']::-webkit-input-placeholder {
    color: #000000;
    font-size: 16px; }
.login .form-row input[type='text']:-moz-placeholder, .login .form-row input[type='password']:-moz-placeholder {
    color: #000000;
    font-size: 16px; }
.login .form-row input[type='text']::-moz-placeholder, .login .form-row input[type='password']::-moz-placeholder {
    color: #000000;
    font-size: 16px; }
.login .form-row input[type='text']:-ms-input-placeholder, .login .form-row input[type='password']:-ms-input-placeholder {
    color: #000000;
    font-size: 16px; }
.login .form-row button {
    border-radius: 5px;
    background: #808080;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #265657;
    color: #ffffff;
    margin: auto;
    padding: 0 15px;
    height: 100%; }
.login .form-row button i {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
.login .form-row button span {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 20px; }
.login .form-row.form-button {
    height: 36px; }
.login .form-row.form-links a {
    display: block;
    color: #ffffff;
    text-decoration: underline;
    margin: auto;
    text-align: center;
    padding-bottom: 7px; }

.profile {
    min-height: 100%;
    width: 100%;
    height: auto; }

.form-block--grey.form-block {
    background: #B3B3B3;
    padding: 30px 15px 15px 15px; }

.profile .profile-footer .footer-line {
    line-height: 1.7em;
    color: #545454; }

.comments {
    padding: 20px 15px; }

.comments .comment {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px; }
.comments .comment:after {
    content: '';
    display: table;
    clear: both; }
.comments .comment .avatar {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
.comments .comment .text {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 17px;
    color: #6b6b6b;
    line-height: 1.4em;
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px); }
.comments .comment .text span.name {
    text-transform: uppercase; }

.orders {
    padding: 20px 15px;
    max-width: 290px;
    margin: auto; }

.orders .order {
    color: #6b6b6b;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px; }
.orders .order:after {
    content: '';
    display: table;
    clear: both; }
.orders .order .counter {
    font-size: 19px; }
.orders .order .exchange {
    margin-top: 7px; }
.orders .order .raiting i {
    font-size: 12px;
    margin-right: 4px; }
.orders .order .avatar {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.who {
    padding-top: 30px; }

.who .who-header {
    padding: 5px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.who .who-header .who-avatar {
    width: 120px;
    height: 120px;
    font-size: 100px; }
.who .who-header .who-description {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 20px; }
.who .who-header .who-description h2 {
    width: 100%;
    font-size: 27px; }
.who .who-header .who-description h3 {
    width: 100%;
    font-size: 23px; }

.who .who-stay-simple {
    background: #999999;
    width: 100%;
    text-align: center;
    padding: 70px 50px 30px 50px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.who .who-stay-simple .stay-simple-text {
    font-size: 25px;
    text-decoration: underline;
    line-height: 1.5em;
    margin-bottom: 40px;
    display: block; }
.who .who-stay-simple .stay-simple-or {
    display: block;
    font-size: 18px; }

.who .who-can-be {
    padding: 20px 25px 70px 25px; }
.who .who-can-be .who-become {
    color: #686868;
    font-size: 18px;
    margin-bottom: 40px; }
.who .who-can-be .who-can-be-item {
    margin-bottom: 30px; }
.who .who-can-be .who-can-be-item .who-can-be-title {
    color: #686868;
    font-size: 27px;
    margin-bottom: 2px; }
.who .who-can-be .who-can-be-item .who-can-be-title a {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
.who .who-can-be .who-can-be-item .who-can-be-description {
    color: #9e9e9e;
    font-size: 14px; }

.calendar {
    max-width: 350px;
    margin: auto;
    display: block;
    padding: 10px 10px 70px 10px; }

.calendar .table-condensed td, .calendar .table-condensed th.dow {
    border: 1px solid #999; }

.calendar .timepicker {
    width: 100%;
    padding-top: 25px; }
.calendar .timepicker h2 {
    font-size: 20px;
    color: #888888; }
.calendar .timepicker table.time-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%; }
.calendar .timepicker table.time-table td {
    background: #eee;
    color: #505050;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 10px;
    cursor: pointer; }
.calendar .timepicker table.time-table td.busy {
    background: none; }
.calendar .timepicker table.time-table td.active {
    background: red;
    color: #fff; }

.calendar .submit {
    background: #0ad500;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px #0aa300 solid; }

.dark-icon-wrapper {
    display: inline-block; }
.dark-icon-wrapper > .dark-icon {
    height: 100%; }

.dark-icon {
    background: #B3B3B3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: inherit; }
.dark-icon i {
    color: #999999;
    font-size: inherit; }

.user-avatar-name .user-name {
    height: 88px;
    font-size: 19px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.user-avatar-name .user-avatar {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 270px;
    font-size: 220px; }
.user-avatar-name .user-avatar img {
    max-height: 100%;
    max-width: 100%; }

.image-ajax-upload img {
    max-width: 150px;
    max-height: 150px; }

.form h2.form-title {
    display: block;
    padding: 20px 0 0 15px;
    font-size: 23px; }

.form .form-block h2 {
    margin: 0 0 25px 15px;
    font-size: 22px; }

.form .form-block {
    padding: 50px 15px 15px 15px; }

.form .form-block--grey.form-block {
    background: #B3B3B3;
    padding: 30px 15px 15px 15px; }

.form .form-row:not(:last-of-type) {
    margin-bottom: 30px; }

.form .form-row label {
    margin: 0 0 5px 15px;
    display: block;
    color: #656565;
    font-size: 17px; }

.form .form-row span.sub-label {
    display: block;
    font-size: 11px; }

.form select,
.form input[type='text'],
.form input[type='tel'],
.form input[type='email'],
.form input[type='password'],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #bfbfbf solid;
    background: #CCCCCC; }

.form textarea {
    height: 100px; }

.form input[type='text'],
.form input[type='tel'],
.form input[type='email'],
.form input[type='password'] {
    height: 35px; }

.form .form-avatar {
    width: 100px;
    height: 100px;
    font-size: 70px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.form .form-avatar img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.form .form-submit-button button {
    background: #339967;
    width: 100%;
    padding: 13px;
    border: 1px solid #3d8457;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 50px; }

.form .form-photo-gallery {
    overflow-x: auto;
    height: 70px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.form .form-photo-gallery .form-photo-gallery-item {
    width: 70px;
    height: 70px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.form .form-photo-gallery .form-photo-gallery-item img {
    display: inline-block; }
.form .form-photo-gallery .form-photo-gallery-item img {
    height: 100%; }
.form .form-photo-gallery .form-photo-gallery-item:not(:last-of-type) {
    margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
