.pagination-item{
    /* Style for "Rounded Re" */
    display: block;
    width: 36px;
    height: 47px;
    line-height: 47px;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, .33);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: $col-bg1;
    text-decoration: none !important;


    &:hover, &_active{
        background-color: rgba(255, 255, 255, 1);
    }

    &__disabled{
        cursor: default;
    }

    
}