- var bonusItems = ['icon-piggy-bank-with-coin', 'icon-shield-with-hospital-symbol', 'icon-male-surgeon-wearing-uniform', 'icon-medicine-kit-with-first-aid-symbol'];

- var reasonItems = ['icon-quality', 'icon-worker-money-time', 'icon-domain-registration', 'icon-law', 'icon-users-communication'];