mixin search()
    +b.FORM.search-form
        +e.INPUT(placeholder="Что ищем ?..").input
        +e.loopa
            +e.IMG.svg(src="/images/svg/zoom1.svg")
            //- +sprite-img("sprite", "loopa")