$xsm: "(max-width: 768px)";
$sm: "(min-width: 768px) and (max-width: 992px)";
$md: "(min-width: 992px) and (max-width: 1200px)";
$lg: "(min-width: 1200px)";
$base-font-size: 16px;
$col-bg1: #565c69; //-ярче - контент
$col-bg2: #363d47; //-темнее - хеадер
$col-bgd: #000000;
$col-bgw: #ffffff;
$headers: #8c0154;