.sp-logos {
  background-image: url(../images/logos.png);
}


.sp-logos__probank {
  background-position: 0px 0px;
  width: 260px;
  height: 217px;
}
.sp-logos__publica {
  background-position: 0px -218px;
  width: 220px;
  height: 227px;
}
.sp-logos__shotme {
  background-position: -480px 0px;
  width: 235px;
  height: 199px;
}
.sp-logos__tosee {
  background-position: -261px 0px;
  width: 218px;
  height: 220px;
}
