.menu-block{
    border-bottom: 1px solid #9b9ea1;;
    box-shadow: 0px 1px 1px #cdcecf;
    width: 100%;
    padding: 9px 0 0px 0px;

    &__img{
        margin: 0 0 34px 22px;

        &--tosee{
            @include sprite($tosee);
        }
        &--probank{
            @include sprite($probank);
        }
        &--shotme{
            @include sprite($shotme);
        }
    }

    &__ul{

    }

    &__li{
        text-align: right;
        padding: 15px 34px 9px 0;

        width: 100%;

        &--active{
            background-color: #d2d2d2;
        }

        @media #{$sm}{
            padding-right: 10px;
        }
    }

    &__a{
        color: rgba(0, 0, 0, .5);
        font-size: 18px;
        font-weight: 400;
    }

    &--padding-bot &__li{
        margin-bottom: 7px;
        
    }
    &--padding-bot{
        padding-bottom: 49px;
    }
}