.footer1{
    background-color: $col-bgd;
    padding: 14px 0 14px 0;

    &__copiright{
        height: 12px;
        color: #565c69;
        
        font-size: 12px;
        font-weight: 400;
    }
}