-var count_bl = 0;
mixin menu-block(links, img)
    - img =  (img != undefined && img != '') ? "--" + img : ""; //- это модификатор по котрому буду подгружать спрайт
    - var modif = (count_bl == '') ? "" : "--padding-bot";
    +b(class="menu-block #{modif}")
        if img != ''
            +e(class="img #{img}" )

        +e.UL.ul
            for link in links
                -var active = (link.alias == alias) ? "--active" : "";
                +e.LI(class="li #{active}")
                    +link(link.url) #{link.label}
    -count_bl++;