mixin menu()
    +b.menu
        +e.group
            +e.header События
            +e.content
                +e.item
                    +e.A(href="/past.html").a
                        +e.img
                            +sprite-img('tosee', 'past')
                        +e.A(href="/past/1.html").text Что было
                +e.item
                    +e.A(href="/future.html").a
                        +e.img
                            +sprite-img('tosee', 'future')
                        +e.A(href="/future/1.html").text Что Будет
                +e.item
                    +e.SPAN(rel="modal-container-calendar" animation="six").a._calendar
                        +e.img
                            +sprite-img('tosee', 'calendar')
                        +e.text Календарь
                    #modal-container-calendar
                        .modal-background
                            .modal
                                svg.modal-svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', preserveaspectratio='none')
                                  rect(x='0', y='0', fill='none', width='100%', height='100%', rx='3', ry='3')
                                +e.calendar( id="calendar" )



        +e.group
            +e.header Конкурсы                
            +e.content
                +e.item
                    +e.A(href="#").a
                        +e.img
                            +sprite-img('tosee', 'ico-round')
                        +e.text Мисс tosee
                +e.item
                    +e.A(href="#").a
                        +e.img
                            +sprite-img('tosee', 'ico-round')
                        +e.text Мистер tosee
                +e.item
                    +e.A(href="#").a
                        +e.img
                            +sprite-img('tosee', 'ico-round')
                        +e.text Лучшее фото