@import "includes/normalize";
@import "includes/_compass";
@import "includes/compass/_reset";
@import "includes/fonts";
@import "includes/_mixins";
@import "sprite";


$xsm: "(max-width: 768px)";
$sm: "(min-width: 768px) and (max-width: 992px)";
$md: "(min-width: 992px) and (max-width: 1200px)";
$lg: "(min-width: 1200px)";

$base-font-size: 16px;

//html
html, body{
  box-sizing: border-box;
}
html{
  overflow-y: scroll; 
}
//-html


//body
body{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: $base-font-size;
  overflow-x: hidden;
  position: relative;

  @media #{$md}{
    font-size: $base-font-size - 2px;
  }
  @media #{$sm}{
    font-size: $base-font-size - 3px;
  }

  @media #{$xsm}{
    font-size: $base-font-size - 2px;
    text-align: center;
    img{
      text-align: center;
      display: inline-block;
    }
    .img-responsive{
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}
//-body

//.pageload
body.pageload * {
  @include transition( none !important);
}
//-.pageload



*:focus {
  outline: none;
}

//box-sizing all 
body *{
  box-sizing: border-box;
}
/* -- */

//placeholder
input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include placeholder {
    color: #bcbcbc;
   // font-style: italic;
 }
}
//-placeholder



/* навбар превращаеться в крестик */
.navbar-toggle{
  .icon-bar{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .icon-bar:nth-of-type(4){
    transform-origin: 0 0;
    @include transform(rotate(-33deg));

  }
  .icon-bar:nth-of-type(3){
    opacity: 0;
  }
  .icon-bar:nth-of-type(2){
    transform-origin: 0 0;
    @include transform(rotate(33deg));
  }
}

.collapsed{
  .icon-bar{
    @include transform(rotate(0deg)  !important);
    opacity: 1 !important; 
  }

}
/* -- */

//row equal height on diffrent medias
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-eq-height-lg {
  @media #{$lg}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.row-eq-height-md {
  @media #{$lg}, #{$md}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.row-eq-height-sm {
  @media #{$lg}, #{$md}, #{$sm}{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
//-row equal height on diffrent medias

//no
.no-margin{
  margin: 0px;
}

.no-padding{
  padding: 0px;
}
//-no

a, a:hover, a:focus, a:visited{
  text-decoration: none;
}

.no-scroll{
  overflow-y: hidden;
}

@import "../blocks/**/*";
// @import "../../../../bemBlocks/**/*";

.controls {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: start;
    -webkit-box-align: start;
    -moz-box-align: start;
    align-items: flex-start;
}
.controls__control {
    opacity: .3;
    cursor: pointer;
    overflow: hidden;
}
.form-line__img{
    max-width: 160px;
    max-height: 200px;
}
.content-page{
    padding-left:20px;
    padding-right:20px;
}
.button--upload{
    position: relative;
    overflow: hidden;
}
.button--upload input{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.users-table td, .users-table th{
    padding: 25px;

}