.userpan{
    margin: 21px 37px 39px 37px;
    display: inline-block;


    &__img{
        width: 100%;
        margin-bottom: 25px;
        max-width: 300px;
    }

    &__name{
        color: #000;
        font-size: 24px;
        font-weight: 400;
        text-align: right;
    }
}