$otstup: 60px;
$height: 504px;
.content-home{

 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap: nowrap;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-align-content: stretch;
 -ms-flex-line-pack: stretch;
 align-content: stretch;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;

 background-color: #363d47;
 background-image: url(../images/people.png) ;
 background-size: contain;
 background-repeat: no-repeat;
 background-position:  center 79px;

 min-height: 94.65vh;
 padding-bottom: 40px;

 .container-fluid{
  width: 100%;
}

&__wrapper{
  width: 100%;
  padding: 0px;
}

&__mainlogo{
  margin: 34px auto 46px auto;
  text-align: center;
}

&__projects-row{
        //-no flex wrapper
        text-align: center;
        // height: $height;
        // line-height: $height;
        vertical-align: middle;
        width: 100%;
        //-no flex wrapper

        @supports (-webkit-flex-wrap: wrap) or
        (-ms-flex-wrap: wrap) or
        (flex-wrap: wrap) {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;

          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
          align-content: flex-start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
        }

        &:after{
          content: " ";
          display: table;
          clear: both;
        }


        &:before{
          content: " ";
          display: table;
          clear: both;
        }
      }

      &__i{
        margin: 0 auto;
      }


    }

    .project{
    // Style for "Rounded Rectan"
    max-width: 384px;
    width: 100%;
    min-width: 250px;
    height: $height;
    line-height: 1.5em;
    cursor: pointer;
    display: inline-block;

    text-align: center;
    text-decoration: none !important;
    

    border: 2px solid white;
    border-radius: 5px;
    position: relative;

    margin: 10px 8px;
    // margin: 10px auto;

    text-align: left;

    &_tosee{
      background-color: #363945;
    }
    &_probank{
      background-color: #2b3b47;
    }
    &_shotme{
      background-color: #2f3d3f;
    }

    &__logo{
      margin: 47px auto 0 auto;
      height: 220px;
      width: 100%;
      padding: 0 20px 0 20px;

      text-align: center;

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    &__i{
      margin: 0 auto;
      max-width: 100%;
      width: auto;
    }

    &__content{
    }

    &__img, &__text{
      position: absolute;
    }



    &__text{
      color: #f2f2f3;
      font-size: 20px;
      font-weight: 400;
    }

    &__img{
      bottom: 0;
    }

    

    //-images
    &_tosee &__img{
      left: 0;
    }

    &_probank &__img{
      right: 32px;
    }
    
    &_shotme &__img{
      right: 15px;
    }

    //-text
    &_tosee &__text{
      right: $otstup;
      bottom: 90px;

      width: 146px;
      height: 67px;

    }

    &_probank &__text{
      left: $otstup;
      bottom: 87px;

      width: 104px;
      height: 67px;
    }

    &_shotme &__text{
      left: $otstup;
      bottom: 68px;

      width: 101px;
      height: 87px;
    }

    @media #{$sm}{
      &_tosee &__text{
        right: 5px;
      }

      &_probank &__text{
        left: 5px;
      }

      &_shotme &__text{
        left: 5px;
      }
    }
    @media #{$xsm}{
      margin: 10px auto;
    }
    @media (max-width: 400px){
      &_tosee &__text{
        right: 5px;
      }
      &_probank &__text{
        left: 5px;
      }
      &_shotme &__text{
        left: 5px;
      }

    }

    @media (max-width: 320px){
      // &__text{
      //   position: static;
      //   width: 100% !important;
      //   padding: 5px;
      //   text-align: center;
      //   margin-top: 10px;
      // }

      &__img{
            // display: none;
            max-height: 150px;
          }
    }
}