.sidebar-swipe {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: -110%;
    display: block;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    background: #bfc1c4;
    z-index: 10
}

.sidebar-swipe_search .sidebar-swipe__close {
    color: #fff;
    text-shadow: none
}

.sidebar-swipe_search {
    background: #363d47
}

.sidebar-swipe__sidebar-inner-relative {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    position: relative
}

.sidebar-swipe__sidebar-inner {
    width: 50%;
    margin: auto
}

.sidebar-swipe.active {
    top: 0
}

.sidebar-swipe__close {
    position: absolute;
    opacity: .5;
    color: #000;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial;
    text-shadow: 1px 0 0 #fff
}

.sidebar-swipe__close:hover {
    opacity: 1
}
