mixin body()
    +b.body.container-fluid.no-padding
        +hidden-sidebar#hslang.--lang
            +lang
            
        +hidden-sidebar#hscity.--city
            +city 
        .row-eq-height-sm
            .col-sm-2.no-padding.row-eq-height-sm
                +sidebar

            .col-sm-10.col-xs-12.no-padding.row-eq-height-sm
                +content
                    block
    +footer