.menu{
  &__group{
    margin: 10px auto;
  }

  &__header{
    text-align: left;

    padding-bottom: 15px;

    color: #8a8c8e;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    position: relative;

    &:after{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      content: ' ';
      background: #9b9ea1;
      box-shadow: 0px 1px 0px #cdcecf;

    }
  }

  &__content{
    margin-left: 30%;
  }

  &__item:hover &__img{
    opacity: 1;
  }

  &__item{
    margin: 23px 0;
    white-space: nowrap;
  }

  &__img{
    margin-right: 31px;
    opacity: .3;
    display: inline-block;
  }
  &__text{
    color: #787878 !important;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    display: inline-block;
    text-decoration: none !important;
    white-space: normal;
    word-wrap: break-word;
    text-decoration: none;
  }

  &__a{
    cursor: pointer;
  }

  @media #{$xsm}{
    &__content{
      margin-left: 0;
      text-align: left;
    }

    &__item{
      white-space: normal;
    }


  }


  .ui-datepicker,
  .ui-datepicker table,
  .ui-datepicker tr,
  .ui-datepicker td,
  .ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
  }

  .ui-datepicker {
    display: none;
    width: 343px;
    padding: 35px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;

    background: rgba(20, 21, 23, .7);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
  }

  .ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
  }

  .ui-datepicker-title { text-align: center; }

  .ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
  }

  .ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
  }

  .ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
   position: absolute;
   top: -2px;
   padding: 5px;
   cursor: pointer;
   z-index: 10;
 }

 .ui-datepicker-prev {
   left: 0;
   padding-left: 0;
 }

 .ui-datepicker-next {
   right: 0;
   padding-right: 0;
 }

 .ui-datepicker-prev span{
  display: block;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #a8a8a8 transparent transparent;
}
.ui-datepicker-next span{
  display: block;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #a8a8a8;
}

.ui-datepicker-prev-hover span {
  border-color: transparent #fff transparent transparent;

}

.ui-datepicker-next-hover span {
  border-color: transparent transparent transparent #fff;

}


.ui-datepicker-calendar th {
 padding-top: 15px;
 padding-bottom: 10px;

 text-align: center;
 font-weight: normal;
 color: #a8a8a8;
}

.ui-datepicker-calendar td {
 padding: 0 7px;

 text-align: center;
 line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  outline: none;

  text-decoration: none;
  color: #a8a8a8;

  border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
  color: #6a9113;
  border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }

&__calendar{}


#modal-container-calendar {
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;

  .ui-datepicker{
    position: relative;
  }

  .menu__calendar{
    position: relative;
    z-index: 10;
  }

  .menu__calendar-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      color: #fff;
    }

  }


  &.six {
    transform:scale(1);
    .modal-background {
      background:rgba(0,0,0,.0);
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal {
        background-color:transparent;
        // animation: modalFadeIn .5s .8s forwards;
        div {
          opacity:0;
          position:relative;
          animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        .modal-svg {
          rect {
            animation: sketchIn .5s .3s  forwards;
          }
        }
      }
    }
    &.out {
      animation: quickScaleDown 0s .5s linear forwards;
      .modal-background {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          
          .modal-svg {
            rect {
              animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
        }
      }
    }
  }

  .modal-background {
    display:table-cell;
    background:rgba(0,0,0,.8);
    text-align:center;
    vertical-align:middle;
    .modal {
      background:white;
      padding: 0px;
      display:inline-block;
      border-radius:3px;
      font-weight:300;
      position:relative;

      .modal-svg {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        border-radius:3px;
        rect {
          stroke: #141517;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778;
        }
      }
    }
  }
}

}

body.modal-active {
  overflow: hidden;
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color:white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color:white;
  }
  100% {
    background-color:transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform:translateX(1000px);
  }
  80% {
    transform:translateX(0px);
    border-radius:75px;
    height:75px;
    width:75px;
  }
  90% {
    border-radius:3px;
    height:182px;
    width:247px;
  }
  100% {
    border-radius:3px;
    height:162px;
    width:227px;
  }
}

@keyframes killShot {
  0% {
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100% {
    transform:translateY(300px) rotate(45deg);
    opacity:0;
  }
}

@keyframes fadeToRed {
  0% {
    box-shadow:inset 0 0 0 rgba(201,24,24,.8);
  }
  100% {
    box-shadow:inset 0 2000px 0 rgba(201,24,24,.8);
  }
}

@keyframes slowFade {
  0% {
    opacity:1;
  }
  99.9% {
    opacity:0;
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}