mixin header()
    //-это выезжающий сайдбра языка и города. он абсолют так что нет разницы куда выодить
    
    +b.header
            +link("/index.html")
                +e.logo
            +e.controls
                +e.control(rel="hscity")
                    +e.ico.--city-ico
                +e.control(rel="hslang")
                    +e.ico.--lang-ico
                +e.control
                    +e.exit-text Выход
                    +e.ico.--exit-ico
    .clearfix